// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@primary-color: #1890ff; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color

@layout-sider-background: yellow;